.section-title {
    margin-bottom: 110px;

    @media (max-width: 992px) {
        margin-bottom: 40px;
        display: block !important;
    }

    h2 {
        font-family: 'Panchang-extra-bold';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 1;
        letter-spacing: -0.025em;
        
        @media (max-width: 1400px) {
            font-size: 42px;
        }

        @media (max-width: 992px) {
            font-size: 32px;
        }
    }

    h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100;
        font-size: 36px;
        line-height: 44px;
        
        @media (max-width: 992px) {
            font-size: 24px;
        }
    }
}