@font-face {
    font-family: "Inter";
    src: url("../../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Panchang";
    src: url("../../fonts/Panchang-Regular.ttf");
}

@font-face {
    font-family: "Panchang-medium";
    src: url("../../fonts/Panchang-Medium.ttf");
}

@font-face {
    font-family: "Panchang-semi-bold";
    src: url("../../fonts/Panchang-Semibold.ttf");
}

@font-face {
    font-family: "Panchang-bold";
    src: url("../../fonts/Panchang-Bold.ttf");
}

@font-face {
    font-family: "Panchang-extra-bold";
    src: url("../../fonts/Panchang-Extrabold.ttf");
}