.about-wrapper {
    .about-container {
        @media (max-width: 992px) {
            padding: 40px 0;
        }

        &__profile-image {
            position: relative;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            h4{
                font: normal 500 36px/44px 'Panchang-medium';
                letter-spacing: -0.025em;
                text-transform: uppercase;
                position: absolute;
                width: fit-content;
                right: -340px;
                top: 0;

                @media (max-width: 1400px) {
                    font-size: 32px;
                    line-height: 1;
                    right: -320px;
                }

                @media (max-width: 1080px) {
                    right: unset;
                    left: 0;
                    line-height: 1;
                    font-size: 24px;
                    top: -20px;
                }
            }
        }
        &__content {
            padding-left: 44px !important;

            @media (max-width: 992px) {
                padding-left: 0 !important;
                padding-top: 20px;
            }

            p {
                font: normal 400 32px/120% 'Inter';
                letter-spacing: -0.055em;

                @media (max-width: 1400px) {
                    font-size: 26px;
                }

                @media (max-width: 992px) {
                    font-size: 20px;
                }
            }

            p:nth-child(2) {
                margin: 24px 0;
                
                @media (max-width: 1400px) {
                    margin: 18px 0;
                }
            }

            a {
                width: 429px;
                height: 100px;
                background: #222222;
                border-radius: 50px;
        
                font: normal 600 24px/32px 'Panchang-semi-bold';
                letter-spacing: -0.04em;
                color: #FFFFFF;
                
                @media (max-width: 1390px) {
                    height: 70px;
                    width: 350px;
                    font-size: 18px;
                    border-radius: 40px;
                }
    
                @media (max-width: 992px) {
                    width: 100%;
                }

            }
        }
    }
} 