.project-wrapper {
    width: 100%;
    padding: 50px 0 100px 0;

    .project-container {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #222222;

        .project-content {
            width: 100%;
            align-items: center;

            @media (max-width: 992px) {
                align-items: start;
                flex-direction: column;
            }

            &__rank {
                width: 150px;
                font-size: 3rem;
                font-family: "Panchang-bold";
                color: transparent;
                -webkit-text-stroke: 1px black;

                @media (max-width: 992px) {
                    width: 100%;
                }
            }

            &__project-video {
                width: 300px;
                height: 170px;

                @media (max-width: 992px) {
                    width: 100%;
                    height: 100%;
                    margin: 1rem 0 2rem 0;
                }
            }

            &__description {
                margin-left: 3rem !important;

                @media (max-width: 992px) {
                    margin-left: 0 !important;
                }

                h1 {
                    color: #222222;
                    font-size: 3rem;
                    line-height: 1;
                    font-family: "Panchang-bold";
                    
                    @media (max-width: 992px) {
                        font-size: 2.5rem;
                    }
                }

                p {
                    width: 45ch;
                    margin-top: 0.5rem;
                    font-size: 1rem;
                    line-height: 1.2;
                    font-family: "Inter";

                    @media (max-width: 992px) {
                        width: 80%;
                    }

                    span {
                        padding-top: 15px;
                        font-size: 0.7rem;
                    }
                }
            }
        }

        &__github-link {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 1px solid #222222;

            @media (max-width: 992px) {
                position: absolute;
                bottom: 20px; // same value padding-bottom of the project container
                right: 0;
            }

            img {
                width: 80%;
                height: 80%;
                opacity: 0.8;
                object-fit: cover;
                transition: 0.7s ease;
            }

            &:hover img {
                transform: rotate(-45deg);
            }
        }
    }

    .project-container:first-of-type {
        border-top: 1px solid #222222;
    }
}