.projects-wrapper {
    .projects-container {
        padding-top: 40px;

        @media (max-width: 992px) {
            padding-bottom: 40px;
        }

        .project-item {
            cursor: pointer;
            height: calc((100vh - 150px) / 3);
            border-bottom: 5px solid #000000;

            @media (max-width: 992px) {
                height: 100px;
            }

            .marquee_project {
                width: 90%;
                opacity: 0;
                transition: 0.4s ease;

                &__marquee-item { 
                    font: 66px "Panchang-semi-bold";
                    width: fit-content;
                    white-space: nowrap;
                    color: transparent;
                    -webkit-text-stroke: 2px black;
                    animation: marquee 5s linear infinite;
                }

                img {
                    width: 450px;
                    object-fit: contain;
                    position: absolute;
                    right: 0;
                    transform: rotate(3deg);
                    opacity: 0;
                    transition: 0.4s ease;
                }
            }

            @media (min-width: 992px) {
                &:hover .project-title {
                    display: none;
                }
            }
            
            &:hover .marquee_project {
                opacity: 1;
                transition: 0.4s ease;

                img{
                    opacity: 1;
                }
            }

            @media (max-width: 1400px) and (min-width: 992px) {
                height: calc((100vh - 250px) / 3);
            }
            
            .project-title {
                font: normal 600 76px/1 'Panchang-semi-bold';
                letter-spacing: -0.025em;

                @media (min-width: 992px) {
                    position: absolute;
                    left: 0;
                }

                @media (max-width: 1400px) {
                    font-size: 66px;
                }

                @media (max-width: 992px) {
                    font-size: 36px;
                }
                
                @media (max-width: 500px) {
                    font-size: 20px;
                }
            }

            a img {
                width: 107.08px;
                height: 103.47px;
                transition: 0.7s ease;

                &:hover {
                    transform: rotate(-45deg);
                }

                @media (max-width: 1400px) {
                    width: 80px;
                }

                @media (max-width: 992px) {
                    width: 50px;
                }

                @media (max-width: 500px) {
                    width: 30px;
                }
            }
        }
    }
}

@keyframes marquee {
	0% {
		transform: translate3d(calc(-50% + 20vw), 0, 0);
	}

	100% {
		transform: translate3d(calc(-75% + 20vw), 0, 0);
	}
}