.message-sent-pop-up-wrapper {
    //--message-height: 80px;
    //--border-height: 5px;
    //--left-border-radius: 25px;

    position: fixed !important;
    top: 0;
    right: 0;
    width: 400px;
    background-color: #222222;
    border-radius: 0 0 0 25px; // same left border radius
    height: 80px;
    padding-left: 25px !important;

    @media (max-width: 992px) {
        width: 100%;
    }

    .close-icon {
        cursor: pointer;
        width: 35px;
        height: 35px;
        position: absolute !important;
        right: 5px;
        top: 5px;
        object-fit: cover;
        filter: invert(1);

        img {
            width: 100%;
            height: 100%;
        }
    }

    .message {
        img {
            width: 25px;
            height: 25px;
            object-fit: cover;
            margin-right: 15px;
        }

        h2 {
            font-family: "Panchang-semi-bold";
            font-size: 1rem;
            color: #ffffff;
        }
    }
}

.border-bottom {
    position: fixed !important;
    right: 0;
    top: 5px; // same as border bottom height
    height: calc(80px + 5px); // height of the message pop up container + border bottom height
    width: 400px;
    z-index: -1;
    background-color: #ff83f3;
    border-radius: 0 0 0 25px; // same left border radius as the container
    animation: animate-border-bottom 3s ease;
    transition: 0.3s ease;
}

/* ----- ANIMATIONS ------- */
@keyframes animate-border-bottom {
    from {
        width: 400px;
        right: 0;
    }
    to {
        width: 30px;
        right: 370px;
    }
}