@import '../Styles/global.scss';

.header {
    min-height: calc(222px - 28px);
    height: calc(222px - 28px);
    padding-top: 28px;

    @media (max-width: 992px) {
        padding-top: 20px;
    }

    .profile-desc {
        border-bottom: 1px solid #000000;
        width: 388px;
        height: fit-content;

        @media (max-width: 992px) {
            font-size: 14px;
            width: fit-content;
        }

        h3 {
            font: normal 400 18px $ff-secondary;

            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
        h3:nth-child(2) {
            margin-bottom: 20px;
        }
    }

    .links {
        ul li a {
            font: normal 400 24px/29px 'Inter';
            transition: 0.3s ease;
            position: relative;
        }

        ul li a:after {
            position: absolute;
            top: 50%;
            left: 0;
            content: '';
            z-index: 1;
            width: 0;
            transition: 1s ease;
        }

        ul li a:hover:after {
            width: 100%;
            border: 1px solid #222;
        }

        &__useful-links {
            margin-right: 40px;
        }
    }

    .burger-menu {
        width: 50px;
        height: 50px;

        img {
            width: 100%;
            opacity: 0.6;
        }
    }
}